@import './variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.bg-default {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $palma-brown-primary;
}

.ant-row {
  max-width: 100% !important;
  overflow: hidden !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
