$palma-purple-primary: #543c5c;
$palma-purple-secondary: #44344c;
$palma-brown-primary: #645a56;
$palma-brown-secondary: #545251;
$palma-brown-tertiary: #84845c;
$palma-green-primary: #86be57;
$palma-green-secondary: #649046;
